<html>
<head>
<title>{{www_html_redirect_page_title}}</title>
<meta http-equiv="REFRESH" content="0;url={{www_html_redirect_url}}">
</head>
<body>
If the redirection do not work, please click <a href="{{www_html_redirect_url}}">here</a>.
</body>
</html>

